ul {
    list-style-type: none;
    padding-inline-start: 0px;
    }

.article-card {
    border-top: 1px solid grey;
    padding-top: 10px;
    display: grid; 
    grid-template-columns: 1.5fr 1fr; 
    grid-template-rows: 2fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . "
      ". . "
      ". . "; 
  }

  .article-card img {
    width: 90%;
    height: 100%;
}

.article-card main {
    font-size: 1.5em;
}
.article-card footer {
    font-size: small;
    padding-top: 5PX;
}

.topic-select-container ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
   }

   .topic-select-container li {
    margin-right: 5px;
   }

   .comment {
    border-top: 1px solid grey;
    padding-top: 10px;
   }